<%= render 'shared/errors' %>
<form action="/session" method="post">

  <label for="session_username">Username :</label><br>
  <input type="text" name="user[user_name]" ><br><br>

  <label for="session_password">Password :</label><br>
  <input type="password" name="user[password]" >

  <br><br><input type="submit" name="" value="Submit">
</form>
